<!-- src/app/graphql-query/graphql-query.component.html -->

<h2>Query Editor</h2>
<div>
  Pre-defined Queries
  <select (change)="onQuerySelect($event)">
    <option *ngFor="let q of queries" [value]="q.query">{{ q.name }}</option>
  </select>
</div>

<div>
  <textarea [(ngModel)]="query" rows="10" cols="60" placeholder="Enter your GraphQL query"></textarea>
  
</div>

<div>
  <button (click)="executeQuery()">Execute</button>
  <input [ngStyle]="{ 'color': statusColor, 'border':'none' }" [value]="statusMessage" readonly>
</div>

<h2>Grid</h2>
<kendo-grid
  [kendoGridBinding]="data"
  [resizable]="true"
  [reorderable]="true"
  [skip]="skip"
  [pageSize]="pageSize"
  [pageable]="true"
  (pageChange)="pageChange($event)"
>
  <kendo-grid-column *ngFor="let column of columns" [field]="column" [title]="column" [filterable]="true">
  </kendo-grid-column>
</kendo-grid>
