# Ignore bin and obj directories
bin/
obj/

# Ignore directories recursively
**/bin/
**/obj/

# Ignore Visual Studio Code settings
.vscode/
**/.vscode/

# Ignore specific data directories
sqlserverdata/
**/sqlserverdata/
postgresdata/
**/postgresdata/
